<!-- /views/admin/master.html -->
<!doctype html>

<html>
<head>
    <title>{{.title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{template "head" .}}
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {{include "partials/menu"}}
            {{template "content" .}}
            <hr>
            {{include "layouts/footer"}}
        </div>
    </div>
</div>
</body>
</html>