{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>CRUD Simple App on Golang</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>CRUD Simple App on Golang</h1>   
{{ end }}
